<div class="widgetFloatingContainer" data-dojo-attach-point="floatingContainer">
	  <div class="widgetSubButton4 widgetNds" data-dojo-attach-point="subButton4" data-dojo-attach-event="onClick:triggerSubButtonMicroflow4">
	  <img class="widgetSubButtonReminder4" data-dojo-attach-point="subButtonIcon4"></div>
	  <div class="widgetSubButton3 widgetNds" data-dojo-attach-point="subButton3" data-dojo-attach-event="onClick:triggerSubButtonMicroflow3">
	  <img class="widgetSubButtonReminder3" data-dojo-attach-point="subButtonIcon3"></div>
	  <div class="widgetSubButton2 widgetNds" data-dojo-attach-point="subButton2" data-dojo-attach-event="onClick:triggerSubButtonMicroflow2">
	  <img class="widgetSubButtonReminder2" data-dojo-attach-point="subButtonIcon2"></div>
	  <div class="widgetSubButton1 widgetNds" data-dojo-attach-point="subButton1" data-dojo-attach-event="onClick:triggerSubButtonMicroflow1">
	  <img class="widgetSubButtonReminder1" data-dojo-attach-point="subButtonIcon1"></div>

	  <div class="widgetMainButton" data-toggle="tooltip" data-dojo-attach-point="mainButton" data-placement="left" data-original-title="MainButton" 
	  data-dojo-attach-event="onClick:triggerMainButtonMicroflow">
	    <img class="widgetPlus" data-dojo-attach-point="mainButtonPlus"></img>
	    <img class="widgetEdit" data-dojo-attach-point="mainButtonEdit"></img>
	  </div> 
</div>
